# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# Virtual environments
# =========================
.venv/
venv/
ENV/
env/

# =========================
# Pytest
# =========================
.pytest_cache/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs (if any later)
# =========================
*.log
